<div class="card border-primary mb-4 mt-4" >
  <div class="card-header">Cliente</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>
    
    <div *ngIf="clientes?.length==0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>

    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
        <thead>
            <tr>
                <th>Nro</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>email</th>
                <th>fecha</th>
                <th>
                  acciones
                </th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.apellido }}</td>
              <td>{{ cliente.email }}</td>
              <td>{{ cliente.createAt }}</td>
              <td>
                <button type="button" name="button" class="btn btn-warning" [routerLink]="['/clientes/form', cliente.id]">editar</button>
                <button type="button" name="button" class="btn btn-danger ml-2" (click)="delete(cliente)">eliminar</button>
              </td>
          </tr>
        </tbody>
    </table>

  </div>
</div>
